html {
  font-size: 62.5%;
}

* {
  /* border-top: 1rem solid #1098ad; */
  margin: 0;
  padding: 0;
}

/* Page sections */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 1rem solid #1098ad;
  position: relative;
}

.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

article {
  margin-bottom: 6rem;
}

.post-header {
  margin-bottom: 4rem;
}

#main-header {
  background-color: #f7f7f7;
  /* padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem; */
  padding: 2rem 4rem;
  margin-bottom: 6rem;
  /*   height: 8rem; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 5rem;
  padding-bottom: 5rem; */
  padding: 5rem 0;
  width: 50rem;
}

nav {
  font-size: 1.8rem;
}

/* Smaller elements*/
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

h4 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

li {
  font-size: 2rem;
  margin-bottom: 1rem;
  /*   display: inline; */
}

li:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.post-img {
  width: 100%;
  height: auto;
}

#author {
  font-style: italic;
  font-size: 1.8rem;
}

#copyright {
  font-size: 1.6rem;
}

.related-author {
  font-size: 1.8rem;
  font-weight: bold;
}

aside ul {
  list-style: none;
}

li:first-child {
  font-style: bold;
}

li:last-child {
  font-style: italic;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #35d28eac;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav a:link {
  /*   background-color: orangered;
  margin: 2rem;
  padding: 2rem;
  display: block; */
  margin-right: 3rem;
  margin-top: 1rem;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.like-btn {
  font-size: 2.2rem;
  padding: 2.2rem;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 0.5rem;
}

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* h3 + p::first-line {
  color: red;
} */

/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* nav a:link {
  font-size: 1.8rem;
} */
