/* 
COLORS

Primary: #cb2f64
Primary light: #FF3365
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
/* 
COLORS

Primary: #cb2f64
Primary light: #FF3365
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --primary: #cb2f64;
  --primary-light: #ff3365;
  --primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--primary), var(--primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 20rem;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      font-size: 1.4rem;
      color: var(--grey-light-4); }
  .search__btn {
    line-height: 0;
    border: none;
    background-color: var(--grey-light-2); }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(0.2rem); }
  .search__input:focus + .search__btn {
    background-color: var(--grey-light-3); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3); }

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    transition: all 0.3s; }
  .user-nav > *:hover {
    background-color: var(--grey-light-2); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2); }
  .user-nav__notification {
    font-size: 0.8rem;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem; }
  .user-nav__user-img-box {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .user-nav__user-img-box__photo {
      height: 3rem;
      border-radius: 50%; }

.gallery {
  display: flex; }
  .gallery__img {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--primary); }
  .overview__icon-location {
    margin-right: 1.5rem; }
  .overview__location {
    font-size: 1.2rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .overview__rating {
    background-color: var(--primary);
    color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    padding: 0 2.25rem; }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -0.3rem; }
    .overview__rating-count {
      font-size: 0.8rem;
      text-transform: uppercase; }

.inline-btn {
  border: none;
  color: var(--primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s; }
  .inline-btn:hover {
    color: var(--grey-dark-1); }
  .inline-btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow); }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content-container {
  display: flex; }

.side-nav {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .side-nav__list {
    list-style: none;
    margin-top: 3.5rem; }
    .side-nav__list__item {
      position: relative; }
      .side-nav__list__item:not(:last-child) {
        margin-bottom: 0.5rem; }
      .side-nav__list__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
      .side-nav__list__item:hover::before, .side-nav__list__item--active::before {
        transform: scaleY(1);
        width: 100%; }
      .side-nav__list__item:active::before {
        background-color: var(--primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--grey-light-2);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    position: relative;
    z-index: 22; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }
  .side-nav__copyright {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--grey-light-4); }

.main-content {
  background-color: #fff;
  flex: 1; }

.details {
  display: flex;
  padding: 4.5rem;
  background-color: var(--grey-light-1);
  border-bottom: var(--line); }

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  padding: 3rem; }

.user-reviews {
  background-color: yellowgreen;
  flex: 1;
  margin-left: 4.5rem; }
