.testemonial {
  background-color: rgba($white-color, 0.6);
  border-radius: 0.3rem;
  padding: 6rem 6rem 6rem 9rem;
  margin: 0 auto;
  width: 75%;
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba($black-color, 0.25);
  font-size: $default;

  @include respond(portrait-tablet) {
    width: 55%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    min-width: 40rem;
    transform: skew(0);
  }

  & > * {
    transform: skewX(12deg);
    @include respond(phone) {
      transform: skew(0);
    }
  }

  &__img-box {
    position: relative;
    height: 15rem;
    width: 15rem;
    float: left;
    overflow: hidden;
    border-radius: 50%;

    @supports (
      (clip-path: circle(50% at 50% 50%)) or
        (-webkit-clip-path: circle(50% at 50% 50%))
    ) {
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      border-radius: none;
    }
    transform: translateX(-3rem) skewX(12deg);

    @include respond(phone) {
      transform: skew(0) translateX(-3rem);
    }

    &__img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      backface-visibility: hidden;
      transition: all 0.5s;
    }

    &__caption {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 20%);
      font-size: 1.7rem;
      text-transform: uppercase;
      color: $white-color;
      text-align: center;
      transition: all 0.5s;
      opacity: 0;
      backface-visibility: hidden;
    }
  }

  &:hover &__img-box__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img-box__img {
    transform: scale(1) translateX(-4rem);
    filter: blur(2px) brightness(90%);
  }
}
