.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  row-gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;

  //900px
  @media only screen and (max-width: 56.25em) {
    grid-column: 1/-1;
    padding: 5rem 3rem;
  }

  &__cont {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 5vh;
    align-items: center;

    //900px
    @media only screen and (max-width: 56.25em) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    //600px
    @media only screen and (max-width: 37.15em) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__name {
    color: #fff;
    font-size: 3rem;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
