.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  text-align: center;

  //922px
  @media only screen and (max-width: 62em) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: right;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  position: relative;
  margin-top: 4.5rem;

  //922px
  @media only screen and (max-width: 62em) {
    margin: 3rem 0;
    margin-right: 3rem;
  }

  &,
  &::after,
  &::before {
    height: 2px;
    width: 4rem;
    background-color: #fff;
    display: inline-block;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &::before {
    transform: translateY(1.5rem);
    left: 0;
  }

  &::after {
    transform: translateY(-1.5rem);
    left: 0;
  }
}
