.u-center-text {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-grid-hor-padding-medium {
  padding: 0 3.6rem;
}
.u-column-gap-medium {
  column-gap: 8.6rem;
}
.u-column-gap-small {
  column-gap: 4.6rem;
}
