.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(portrait-tablet) {
    margin-bottom: 6rem;
  }
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-big {
  margin-top: 9rem;
}

.u-grid-hor-padding-medium {
  padding: 0 3.6rem;
}

.u-grid-hor-padding-big {
  padding: 0 14rem;
}

.u-column-gap-small {
  column-gap: 4.6rem;
}

.u-column-gap-medium {
  column-gap: 8.6rem;
}

.u-column-gap-big {
  column-gap: 26rem;
}

.u-row-gap-big {
  row-gap: 10rem;
}

.align-vert {
  align-items: center;
}
