/************************/
/* HEADER */
/************************/
.logo {
  height: 2.2rem;
}

.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/************************/
/* HEADER */
/************************/
.nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  background-color: #e67e22;
  color: #fff;
  display: inline-block;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/************************/
/* HERO SECTION */
/************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-grid-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-people {
  display: flex;
}

.delivered-people img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-people img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/************************/
/* FEATURED IN SECTION  */
/************************/
.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 60%;
}

.featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-in-heading {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  color: #888;
}

/************************/
/*  HOW SECTION  */
/************************/
.section-how {
  padding: 9.6rem 0;
}

.z-pattern-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.z-pattern-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.z-pattern-text {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-self: center;
}

.z-pattern-img-box:before,
.z-pattern-img-box:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.z-pattern-img-box:before {
  padding-bottom: 60%;
  width: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.z-pattern-img-box:after {
  padding-bottom: 50%;
  width: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

/************************/
/* MEALS SECTION */
/************************/
.meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-2rem);
  box-shadow: 0 4.8rem 9.6rem rgba(0, 0, 0, 0.06);
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
  border-radius: 10rem;
  font-weight: 600;
}

.tag--vegeterian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.meal-img {
  width: 100%;
  /* border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem; */
}

.meal-txt {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

strong {
  font-weight: 500;
}

.list-of-diets {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.diet-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.diet {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  display: inline-block;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/************************/
/* TESTEMONIALS SECTION */
/************************/
.testemonials-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  align-items: center;
}

.testemonials-container {
  padding: 9.6rem;
}

.testemonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testemonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testemonial-txt {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testemonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery-items img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-items img:hover {
  transform: scale(1.1);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-items {
  overflow: hidden;
}

/************************/
/* PRICING SECTION */
/************************/
.pricing-section {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 1.1rem;
  width: 75%;
  padding: 4.8rem;
}

.list {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.pricing-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-size: 2rem;
  letter-spacing: 0.75;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-txt {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #6f6f6f;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.pricing-sign-up-btn {
  margin-top: 4.8rem;
}

.right-align {
  justify-self: end;
}

.pricing-plan-complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan-starter {
  border: 0.2rem solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan-complete:before {
  content: "Best price";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  top: 8%;
  right: -16%;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

/* FEATURES */

.container.grid.grid--4cols {
  margin-top: 9.6rem;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  border-radius: 50%;
  padding: 1.2rem;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-txt {
  font-size: 1.8rem;
  line-height: 1.8;
}

.plan-details {
  text-align: center;
  line-height: 1.6;
  font-size: 1.6rem;
}

/************************/
/* CTA SECTION */
/************************/

.cta-section {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  overflow: hidden;
  border-radius: 1.1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url(./content/img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.form-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-txt {
  margin-bottom: 4.8rem;
}

.form-box .secondary-heading {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta input,
.cta select {
  color: inherit;
  width: 100%;
  padding: 1.2rem 0.8rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 0.9rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cta input::placeholder {
  color: #aaa;
}

.cta button {
  border: none;
  cursor: pointer;
  align-self: end;
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
}

.cta button:hover {
  background-color: #fff;
  color: #555;
}

*:focus {
  outline: none;
  /* outline: 0.4rem dotted;
  outline-offset: 0.8rem; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.cta *:focus {
  outline: none;
  /* outline: 0.4rem dotted;
  outline-offset: 0.8rem; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/************************/
/* FOOTER */
/************************/
footer {
  padding: 12.8rem 0;
  border-top: 0.1rem solid #eee;
}

.footer-grid {
  grid-template-columns: 1fr 1fr repeat(3, 0.55fr);
}

.logo-column {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 3.2rem;
}

.social-media-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p:first-child {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}
