.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color-light, 0.8),
      rgba($primary-color-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo-img {
    height: 3.5rem;
  }

  &__logo-img-box {
    position: absolute;
    top: 4%;
    left: 3%;
  }

  &__text-box {
    position: absolute;
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
