.navigation {
  &__btn {
    background-color: $white-color;
    position: fixed;
    height: 7rem;
    width: 7rem;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 2rem rgba($black-color, 0.1);

    @include respond(portrait-tablet) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__input {
    display: none;
  }

  &__background {
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $primary-color-light,
      $primary-color-dark
    );
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(portrait-tablet) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__container {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1700;
    // transition: all 0.7s;
    // opacity: 0;
    // visibility: hidden;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    opacity: 0;
    transition: all 0.7s;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 3rem;
      color: $white-color;
      font-weight: 300;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 50%, white 50%);
      background-size: 240%;
      transition: all 0.4s;
      cursor: context-menu;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $primary-color;
      transform: translateX(1rem);
    }
  }

  &__input:checked ~ &__background {
    transform: scale(80);
  }

  &__input:checked ~ &__container &__list {
    animation: navMoveInLeft 0.7s ease-out;
    opacity: 1;
  }

  &__input:not(:checked) ~ &__container {
    animation: containerWidth 0.8s ease-in;
  }

  &__input:checked ~ &__container {
    width: 100%;
    // opacity: 1;
    // visibility: visible;
  }

  &__input:checked ~ &__container &__link {
    &:link,
    &:visited {
      cursor: pointer;
    }
  }

  &__input:not(:checked) ~ &__container &__list {
    animation: navMoveOut 0.7s ease-in;
  }

  &__icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &,
    &::after,
    &::before {
      content: "";
      display: inline-block;
      height: 2px;
      width: 3rem;
      background-color: $grey-color-3;
      position: absolute;
      transition: all 0.3s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__icon {
    &::before {
      transform: translateY(-0.3rem);
    }
    &::after {
      transform: translateY(0.3rem);
    }
  }

  &__input:checked ~ &__btn &__icon {
    background-color: transparent;

    &::before {
      transform: rotate(135deg);
      top: 0;
    }

    &::after {
      transform: rotate(-135deg);
      top: 0;
    }
  }
}
