html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(landscape-tablet) {
    font-size: 56.25%;
  }

  @include respond(portrait-tablet) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 48%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0rem 2rem rgba($black-color, 0.3);
}

::selection {
  background-color: $primary-color;
  color: $white-color;
}
